@model ICollection<UserModel>
<table class="display table" style="width: 100%;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Position</td>
                <td>@user.Office</td>
                <td>@user.Age</td>
                <td>@user.StartDate</td>
                <td>@user.Salary</td>
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-primary btn-crud-edit" crud-id="@user.Id" data-toggle="modal" data-target="#exampleModalCenter">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-danger btn-crud-delete" crud-id="@user.Id">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts
    {
    <script type="text/javascript">
        $(".glyphicon-remove-circle").click(function () {
            alert("delete item ?");
        });
    </script>
}