@{
    Layout = LayoutModel.BaseLayoutPage;
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-heading clearfix">
                <h4 class="panel-title">Basic example</h4>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="example" class="display table" style="width: 100%; cellspacing: 0;">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                            </tr>
                            <tr>
                                <td>Garrett Winters</td>
                                <td>Accountant</td>
                                <td>Tokyo</td>
                                <td>63</td>
                                <td>2011/07/25</td>
                                <td>$170,750</td>
                            </tr>
                            <tr>
                                <td>Ashton Cox</td>
                                <td>Junior Technical Author</td>
                                <td>San Francisco</td>
                                <td>66</td>
                                <td>2009/01/12</td>
                                <td>$86,000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div><!-- Row -->
@RenderBody()
@section Scripts
    {
    var urlIndex = '@Url.Action("Index")';
    var urlSearch = '@Url.Action("Search")';
    var urlBulkDownload = '@Url.Action("BulkDownload")';
    var urlBulkUpload = '@Url.Action("BulkUpload")';
    var urlExportData = '@Url.Action("ExportData")';
    var urlNew = '@Url.Action("Create")';
    var urlEdit = '@Url.Action("Edit")';
    var urlView = '@Url.Action("View")';
    var urlDelete = '@Url.Action("Delete")';
    var urlSave = '@Url.Action("Save")';
    var urlPrivace = '@Url.Action("Privacy")';

    var variableFromBaseCrud = "VariableFromBaseCrud";

    @RenderSection("Scripts", false)
}